# SET

__Set__ adalah satu diantara empat __tipe struktur data__ di Python yang digunakan untuk menyimpan sekumpulan data pada sebuah variabel. Tiga tipe data lainnya adalah __Tuple, List, dan Dictionary__.

Karakteristik set adalah kumpulan data yang belum terurut (_unordered_), tidak dapat diubah (_unchangeable_)*, dan tidak ber-indeks (_unindexed_).

* Note: item pada Set tidak dapat diubah, tetapi dapat dihapus dan diberikan item baru.

__Sets__ ditulis menggunakan kurung kurawal `{ }`.

In [ ]:
# Membuat set
set_mahasiswa = {'Yoshan', 'Annisa', 'Nafis', 'Thoby'}
print(type(set_mahasiswa))
print(set_mahasiswa)

In [ ]:
# Set tidak boleh duplikat, akan dianggap satu data
set_mahasiswa = {'Yoshan', 'Annisa', 'Nafis', 'Annisa'}
print(type(set_mahasiswa))
print(set_mahasiswa)

In [ ]:
# Set bisa berisi data yang beragam
set_nilai = {'Yoshan', 85, 'A'}
print(set_nilai)

### 1. Mengakses Set

In [ ]:
# Mengakses set harus menggunakan iterasi karena tidak memiliki indeks
set_mahasiswa = {'Yoshan', 'Annisa', 'Nafis', 'Thoby'}
for x in set_mahasiswa:
  print(x)
print('---------')

# Akses chek apakah Nafis ada di set_mahasiswa
print("Nafis" in set_mahasiswa) 

# Error karena set tidak berindeks
# print(set_mahasiswa[1])

### 2. Menambah item pada Set

In [ ]:
set_mahasiswa = {'Yoshan', 'Annisa', 'Nafis', 'Thoby'}
set_mahasiswa.add("Gloria")

print(set_mahasiswa)

### 3. Update item Set

In [ ]:
mahasiswa_A = {'Yoshan', 'Annisa'}
mahasiswa_B = {'Nafis', 'Thoby'}
mahasiswa_A.update(mahasiswa_B)
print(mahasiswa_A)

### 4. Update Set menggunakan Koleksi bertipe lain

In [ ]:
# 
mahasiswa_A = {'Yoshan', 'Annisa'}
mahasiswa_B = ['Nafis', 'Thoby']
mahasiswa_A.update(mahasiswa_B)
print(mahasiswa_A)

### 5. Remove item dalam Set
Bisa menggunakan _`remove()`_, atau _`discard()`_, atau _`pop()`_, atau _`clear()`_

In [ ]:
# Menggunakan remove()
set_mahasiswa = {'Yoshan', 'Annisa', 'Nafis', 'Thoby'}
set_mahasiswa.remove("Annisa")
print(set_mahasiswa)

# Menggunakan discard()
set_mahasiswa = {'Yoshan', 'Annisa', 'Nafis', 'Thoby'}
set_mahasiswa.discard("Anisa") # Tidak Error meskipun Anisa tidak ada
print(set_mahasiswa)

# Menggunakan pop() akan menghapus paling akhir (atau mungkin random)
set_mahasiswa = {'Yoshan', 'Annisa', 'Nafis', 'Thoby'}
set_mahasiswa.pop() 
print(set_mahasiswa)

# Menggunakan clear() akan menghapus seluruhnya
set_mahasiswa = {'Yoshan', 'Annisa', 'Nafis', 'Thoby'}
set_mahasiswa.clear() 
print(set_mahasiswa)

# Menggunakan del akan menghapus variabelnya juga
set_mahasiswa = {'Yoshan', 'Annisa', 'Nafis', 'Thoby'}
del set_mahasiswa 
print(set_mahasiswa)

### 6. Join Sets
Menggunakan _`union()`_ atau _`update()`_, atau _`intersection_update()`_, atau _`symmetric_difference_update()`_, atau _`symmetric_difference()`_

In [ ]:
### Join menggunakan union()
set_mahasiswaA = {'Yoshan', 'Annisa'}
set_mahasiswaB = {'Nafis', 'Thoby'}
set_mahasiswa= set_mahasiswaA.union(set_mahasiswaB) 
print(set_mahasiswa)

In [ ]:
### Join menggunakan update()
set_mahasiswaA = {'Yoshan', 'Annisa'}
set_mahasiswaB = {'Nafis', 'Thoby'}
set_mahasiswaA.update(set_mahasiswaB) 
print(set_mahasiswaA)

In [ ]:
### intersection_update(), Hanya mengambil yang Duplikat
set_mahasiswaA = {'Yoshan', 'Annisa'}
set_mahasiswaB = {'Nafis', 'Thoby', 'Annisa'}
set_mahasiswaA.intersection_update(set_mahasiswaB) 
print(set_mahasiswaA)

In [ ]:
### symmetric_difference_update, Data yang duplikat tidak dimasukkan
set_mahasiswaA = {'Yoshan', 'Annisa'}
set_mahasiswaB = {'Nafis', 'Thoby', 'Annisa'}
set_mahasiswaA.symmetric_difference_update(set_mahasiswaB) 
print(set_mahasiswaA)

In [ ]:
### symmetric_difference, Data yang berbeda yang diambil
set_mahasiswaA = {'Yoshan', 'Annisa'}
set_mahasiswaB = {'Nafis', 'Thoby', 'Annisa'}
set_mahasiswa = set_mahasiswaA.symmetric_difference(set_mahasiswaB) 
print(set_mahasiswa)

#### Rangkuman Method pada Sets
![Alt text](images/set_method.png)