# Dictionary

Topik yang dibahas:
* Dictionary
* Using the in operator on a dictionary
* Programming challenge
* A Python dictionary to represent a programming dictionary
* Iterating through a dictionary
* Combining lists and dictionaries
* JSON: JavaScript Object Notation
* Example program to get weather data
* XML data
* Accessing repeating groupings in JSON and XML

__Dictionary__ adalah satu diantara empat __tipe struktur data__ di Python yang digunakan untuk menyimpan sekumpulan data pada sebuah variabel. Tiga tipe data lainnya adalah __List, Tuple, dan Sets__.

__Karakteristik__ utama dictionary adalah memiliki __key (indeks)__ yang dapat didefinisikan (tidak harus default angka dari 0) untuk setiap __data (value)__. Dictionary disebut juga tipe data yang berisii __key__ dan __value__. 

Dictionary bisa diurutkan**, diubah, dan elemen (key) tidak ada yang duplikat.

__Dictionary__ ditulis menggunakan kurung kurawal dengan format `{ key : value, key: value, ... }`.

### 1. Membuat Dictionary Tunggal
Ingat kembali bentuk list untuk nantinya membedakan dengan dictionary.

In [4]:
mhs = ['I0319075', 'Andhika', '08562345678', 165, 'Surakarta']
print(type(mhs))
mahasiswas = [['I0319075', 'Andhika', '08562345678', 165, 'Surakarta'],
              ['I0322098', 'Bowo', '08765432817', 175, 'Purwokerto']
              ]
# Ingat kembali cara mengakses kota asal Bowo pada variabel mahasiswas

<class 'list'>

Dengan menggunakan Dictionary, bisa diberikan __key__ bagi setiap elemen sehingga memudahkan memanggil item (__value__) data. 
Perhatikan modifikasi list menjadi dictionary.

In [5]:
dict_mhs = {'nim':'I0319075', 
            'nama' : 'Andhika', 
            'telepon': '08562345678',
            'tinggi' : 165, 
            'kota' : 'Surakarta'}
print(type(dict_mhs))
print(dict_mhs)

<class 'dict'>
{'nim': 'I0319075', 'nama': 'Andhika', 'telepon': '08562345678', 'tinggi': 165, 'kota': 'Surakarta'}

Ketika ingin menampilkan __value__ data nama dan telepon, tidak perlu mengingat nama dan telepon pada indeks ke berapa, tetapi dapat dipanggil menggunakan __key__.

In [6]:
print(dict_mhs['nama'])
print(dict_mhs['telepon'])

Andhika
08562345678

### 2. Mengakses key dan value Dictionary Tunggal

In [7]:
# Mengakses informasi keys yang digunakan
print(dict_mhs.keys())

# Mengakses seluruh data pada dictionary tunggal
print(dict_mhs.values())

# Mengakses panjang data dictionary tunggal
print(len(dict_mhs))

# Mengakses tipe data
print(type(dict_mhs))

dict_keys(['nim', 'nama', 'telepon', 'tinggi', 'kota'])
dict_values(['I0319075', 'Andhika', '08562345678', 165, 'Surakarta'])
5
<class 'dict'>

#### 2.1 Mengakses value menggunakan iterasi

In [8]:
# Mengakses key dan value menggunakan iterasi
for key in dict_mhs:
    print(key, dict_mhs[key])

nim I0319075
nama Andhika
telepon 08562345678
tinggi 165
kota Surakarta

#### 2.2. Memeriksa apakah Key dan Value ada dalam Dictionary

In [9]:
# Cek key dalam dictionary
print('handphone' in dict_mhs)

False

In [10]:
# Periksa value ada dalam dictionary
print('Andhika' in dict_mhs.values())

True

## 3. Multi Data dalam Dictionary

Pada Dictionary tunggal, sebenarnya hanya menyimpan satu baris data (satu data mahasiswa). Dictionary memberikan kemudahan menyimpan banyak data (_records_). Metode yang sering digunakan adalah:
1. Records Dictionary di dalam List
2. Dictionary dalam Dictionary,

#### 3.1. Records Dictionary dalam List

In [11]:
# Records Dictionary dalam List
mhs_2022 = [
    {'nim':'I0322015', 'nama' : 'Anggito', 'telepon': '0856123', 'tinggi' : 165, 'kota' : 'Surakarta'},
    {'nim':'I0322022', 'nama' : 'Berliana', 'telepon': '0856789', 'tinggi' : 162, 'kota' : 'Bali'},
    {'nim':'I0322019', 'nama' : 'Chezava', 'telepon': '0856234', 'tinggi' : 160, 'kota' : 'Chili'},
    {'nim':'I0322098', 'nama' : 'Daniel', 'telepon': '0856777', 'tinggi' : 170, 'kota' : 'Depok'}
    ]

In [12]:
# Cek tipe data
print(type(mhs_2022))

# Menampilkan seluruh records
print(mhs_2022)

<class 'list'>
[{'nim': 'I0322015', 'nama': 'Anggito', 'telepon': '0856123', 'tinggi': 165, 'kota': 'Surakarta'}, {'nim': 'I0322022', 'nama': 'Berliana', 'telepon': '0856789', 'tinggi': 162, 'kota': 'Bali'}, {'nim': 'I0322019', 'nama': 'Chezava', 'telepon': '0856234', 'tinggi': 160, 'kota': 'Chili'}, {'nim': 'I0322098', 'nama': 'Daniel', 'telepon': '0856777', 'tinggi': 170, 'kota': 'Depok'}]

In [13]:
# Menampilkan Setiap record menggunakan iterasi
i = 1
for mhs in mhs_2022:
    print(f":: Mahasiswa ke-{i} ::")
    for key in mhs:
        print(key, mhs[key])
    i+=1

:: Mahasiswa ke-1 ::
nim I0322015
nama Anggito
telepon 0856123
tinggi 165
kota Surakarta
:: Mahasiswa ke-2 ::
nim I0322022
nama Berliana
telepon 0856789
tinggi 162
kota Bali
:: Mahasiswa ke-3 ::
nim I0322019
nama Chezava
telepon 0856234
tinggi 160
kota Chili
:: Mahasiswa ke-4 ::
nim I0322098
nama Daniel
telepon 0856777
tinggi 170
kota Depok

#### 3.2. Records Dictionary di dalam Dictionary

In [14]:
# Dictionary dalam dictionary, dengan key integer
mhs_2022_A = {
    1: {'nim':'I0322015', 'nama' : 'Anggito', 'telepon': '0856123', 'tinggi' : 165, 'kota' : 'Surakarta'},
    2: {'nim':'I0322022', 'nama' : 'Berliana', 'telepon': '0856789', 'tinggi' : 162, 'kota' : 'Bali'},
    3: {'nim':'I0322019', 'nama' : 'Chezava', 'telepon': '0856234', 'tinggi' : 160, 'kota' : 'Chili'},
    4: {'nim':'I0322098', 'nama' : 'Daniel', 'telepon': '0856777', 'tinggi' : 170, 'kota' : 'Depok'}
    }
# Cek tipe data
print(type(mhs_2022_A))
# Menampilkan keys
print(mhs_2022_A.keys())

# Memanggil sebuah data dengan key tertentu
print(mhs_2022_A[1]['nama'])

<class 'dict'>
dict_keys([1, 2, 3, 4])
Anggito

In [15]:
# Mengakses setiap record key dan value menggunaka iterasi
for key in mhs_2022_A:
    print(key, mhs_2022_A[key])

1 {'nim': 'I0322015', 'nama': 'Anggito', 'telepon': '0856123', 'tinggi': 165, 'kota': 'Surakarta'}
2 {'nim': 'I0322022', 'nama': 'Berliana', 'telepon': '0856789', 'tinggi': 162, 'kota': 'Bali'}
3 {'nim': 'I0322019', 'nama': 'Chezava', 'telepon': '0856234', 'tinggi': 160, 'kota': 'Chili'}
4 {'nim': 'I0322098', 'nama': 'Daniel', 'telepon': '0856777', 'tinggi': 170, 'kota': 'Depok'}

In [16]:
# Mengakses setiap record key dan value menggunaka iterasi
for i in mhs_2022_A:
    # print(i, mhs_2022_A[i])
    print(f":: Mahasiswa ke-{i} :")
    for key in mhs_2022_A[i]:
        print(key, mhs_2022_A[i][key])

:: Mahasiswa ke-1 :
nim I0322015
nama Anggito
telepon 0856123
tinggi 165
kota Surakarta
:: Mahasiswa ke-2 :
nim I0322022
nama Berliana
telepon 0856789
tinggi 162
kota Bali
:: Mahasiswa ke-3 :
nim I0322019
nama Chezava
telepon 0856234
tinggi 160
kota Chili
:: Mahasiswa ke-4 :
nim I0322098
nama Daniel
telepon 0856777
tinggi 170
kota Depok

In [17]:
# Mengakses setiap record key dan value menggunaka iterasi While
i = 1
while i <= len(mhs_2022_A):
    # Mencetak Data di dalam dictionary
    print(f"Biodata Mahasiswa ke-{i}")
    print('NIM :', mhs_2022_A[i]['nim'])
    print('NAMA :', mhs_2022_A[i]['nama'])
    print('Telepon :', mhs_2022_A[i]['telepon'])
    # for key in mhs_2022_A[i]:
    #     print(key, mhs_2022_A[i][key])  
    i += 1

Biodata Mahasiswa ke-1
NIM : I0322015
NAMA : Anggito
Telepon : 0856123
Biodata Mahasiswa ke-2
NIM : I0322022
NAMA : Berliana
Telepon : 0856789
Biodata Mahasiswa ke-3
NIM : I0322019
NAMA : Chezava
Telepon : 0856234
Biodata Mahasiswa ke-4
NIM : I0322098
NAMA : Daniel
Telepon : 0856777

In [18]:
# Dictionary dalam dictionary, dengan key integer
mhs_2022_B = {
    "I0322015": {'nim':'I0322015', 'nama' : 'Anggito', 'telepon': '0856123', 'tinggi' : 165, 'kota' : 'Surakarta'},
    "I0322022": {'nim':'I0322022', 'nama' : 'Berliana', 'telepon': '0856789', 'tinggi' : 162, 'kota' : 'Bali'},
    "I0322019": {'nim':'I0322019', 'nama' : 'Chezava', 'telepon': '0856234', 'tinggi' : 160, 'kota' : 'Chili'},
    "I0322098": {'nim':'I0322098', 'nama' : 'Daniel', 'telepon': '0856777', 'tinggi' : 170, 'kota' : 'Depok'}
    }
# Cek tipe data
print(type(mhs_2022_B))
# Menampilkan keys
print(mhs_2022_B.keys())

# Memanggil sebuah data dengan key tertentu
print(mhs_2022_B["I0322019"]['nama'])

<class 'dict'>
dict_keys(['I0322015', 'I0322022', 'I0322019', 'I0322098'])
Chezava

In [19]:
for nim in mhs_2022_B:
    print(nim)
    print(mhs_2022_B[nim]['nama'])
    print(mhs_2022_B[nim]['kota'])
    print("----------------")

I0322015
Anggito
Surakarta
----------------
I0322022
Berliana
Bali
----------------
I0322019
Chezava
Chili
----------------
I0322098
Daniel
Depok
----------------

In [20]:
# Cara Lain mengakses data
for nim, mahasiswa in mhs_2022_B.items():
    print(nim)
    print(mahasiswa['nama'])
    print(mahasiswa['telepon'])
    print("----------------")

I0322015
Anggito
0856123
----------------
I0322022
Berliana
0856789
----------------
I0322019
Chezava
0856234
----------------
I0322098
Daniel
0856777
----------------

#### latihan Mandiri

Buatlah program sederhana untuk menampung dictionary data nilai tugas, uts, dan uas mahasiswa.
Prosesnya harus melalui __input data oleh pengguna__, bukan melalui inisiasi !