### MySQL Database

Link Tutorial lengkap:

https://realpython.com/python-mysql/

https://www.w3schools.com/python/python_mysql_getstarted.asp


Tutorial ini sebagai sebuah pengenalan sederhana dan dibatasi tatacara __mengakses data__ dari sebuah MySQL database.

In [3]:
''' 
Asumsi:
1. Telah install MySQL software, baik berdiri sendiri maupun melalui bundling XAMPP atau Laragon
2. Aktikan atau Run Mysql Database telah dilakukan
3. Memiliki sebuah database yang akan ditampilkan datanya
'''

' \nAsumsi:\n1. Telah install MySQL software, baik berdiri sendiri maupun melalui bundling XAMPP atau Laragon\n2. Aktikan atau Run Mysql Database telah dilakukan\n3. Memiliki sebuah database yang akan ditampilkan datanya\n'

In [1]:
# Install library
# pip install mysql-connector-python

In [13]:
import mysql.connector

# Koneksi ke Database,
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="stayhome"
)

mycursor = mydb.cursor()

sql_string = "SELECT * FROM branch"
mycursor.execute(sql_string)

myresult = mycursor.fetchall()
for row in myresult:
  print(row)

('B001', 'Ir. Sutami 20 Jebres', 'Solo', 'Jawa Tengah', '97201', 'S0003')
('B002', 'Gondotaman 52', 'Yogyakarta', 'Yogyakarta', '98122', 'S0010')
('B003', 'Simpang Lima 5', 'Semarang', 'Jawa Tengah', '10012', 'S0415')
('B004', 'Homan 23', 'Bandung', 'Jawa Barat', '98128', 'S2250')
('B005', 'Sepuluh November 10', 'Surabaya', 'Jawa Timur', '10013', None)
('B056', 'street', 'City', 'Aceh', '00000', None)

In [14]:
# Menampilkan nama-nama atribut atau kolom dalam tabel branch
print(mycursor.description)
columns = [column[0] for column in mycursor.description]
for column in columns:
    print(column)

[('branchNo', 253, None, None, None, None, 0, 20483, 45), ('street', 253, None, None, None, None, 0, 1, 45), ('city', 253, None, None, None, None, 0, 16393, 45), ('state', 254, None, None, None, None, 0, 4353, 45), ('zipcode', 253, None, None, None, None, 0, 1, 45), ('mgrStaffNo', 253, None, None, None, None, 1, 16392, 45)]
branchNo
street
city
state
zipcode
mgrStaffNo

In [15]:
import mysql.connector

# Koneksi ke Database,
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="stayhome"
)

mycursor = mydb.cursor()

# Menampilkan sebagian atribut tertentu saja
sql_string = "SELECT branchno, city FROM branch"
mycursor.execute(sql_string)

myresult = mycursor.fetchall()
for row in myresult:
  print(row)

('B004', 'Bandung')
('B056', 'City')
('B003', 'Semarang')
('B001', 'Solo')
('B005', 'Surabaya')
('B002', 'Yogyakarta')

In [18]:
# Menyimpan data menjadi list

data_list =[]
for row in myresult:
  data_list.append(row)
  
print(data_list)
for baris in data_list:
    print(baris)

[('B004', 'Bandung'), ('B056', 'City'), ('B003', 'Semarang'), ('B001', 'Solo'), ('B005', 'Surabaya'), ('B002', 'Yogyakarta')]
('B004', 'Bandung')
('B056', 'City')
('B003', 'Semarang')
('B001', 'Solo')
('B005', 'Surabaya')
('B002', 'Yogyakarta')

In [27]:
# Melihat atribut-atribut dalam suatu tabel
import mysql.connector

# Koneksi ke Database,
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="stayhome"
)

mycursor = mydb.cursor()

# Melihat atribut-atribut dalam suatu tabel
sql_string = "DESCRIBE branch"
mycursor.execute(sql_string)

myresult = mycursor.fetchall()
for row in myresult:
  print(row)

('branchNo', 'varchar(4)', 'NO', 'PRI', None, '')
('street', 'varchar(20)', 'NO', '', 'street', '')
('city', 'varchar(20)', 'NO', 'MUL', 'City', '')
('state', "enum('Aceh','DKI Jakarta','Jambi','Jawa Tengah','Jawa Barat','Jawa Timur','Nusa Tenggara Barat','Jayapura','Ambon','Kalimantan Selatan','Kalimantan Timur','Kalimantan Tengah','Sulawesi Selatan','Sulawesi Tenggara','Sumatera Selatan','Sumatera Barat','Sumatera Utara','Yogyakarta')", 'NO', '', None, '')
('zipcode', 'varchar(5)', 'NO', '', '00000', '')
('mgrStaffNo', 'varchar(5)', 'YES', 'MUL', None, '')

In [26]:
# Melihat tabel-tabel dalam sebuah database
import mysql.connector

# Koneksi ke Database,
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="stayhome"
)

mycursor = mydb.cursor()

# Melihat daftar tabel dalam sebuah database
sql_string = "SHOW tables"
mycursor.execute(sql_string)

myresult = mycursor.fetchall()
for row in myresult:
  print(row)

('actor',)
('branch',)
('director',)
('member',)
('registration',)
('rental',)
('role',)
('staff',)
('supplier',)
('telephone',)
('teleponstaff',)
('video',)
('videoitem',)
('videoorder',)
('videoorderline',)