### MySQL Database

Link Tutorial lengkap:

https://realpython.com/python-mysql/

https://www.w3schools.com/python/python_mysql_getstarted.asp


Tutorial ini sebagai sebuah pengenalan sederhana, dibatasi tatacara __mengakses data__ dan melakukan __import SQL__ file pembuatan database (bagian akhir tutorial). Dengan tutorial ini dan ditambah dengan pengetahuan tentang perintah-perintah SQL, Anda dapat melakukan banyak hal untuk Create (INSERT), Read (SELECT), Update (UPDATE), dan Delete (DELETE) [CRUD] pengelolaan basisdata.

In [3]:
''' 
Asumsi:
1. Telah install MySQL software, baik berdiri sendiri maupun melalui bundling XAMPP atau Laragon
2. Aktikan atau Run Mysql Database telah dilakukan
3. Memiliki sebuah database yang akan ditampilkan datanya
'''

' \nAsumsi:\n1. Telah install MySQL software, baik berdiri sendiri maupun melalui bundling XAMPP atau Laragon\n2. Aktikan atau Run Mysql Database telah dilakukan\n3. Memiliki sebuah database yang akan ditampilkan datanya\n'

In [1]:
# Install library
# pip install mysql-connector-python

In [14]:
import mysql.connector

# Koneksi ke Database,
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="stayhome"
)
# membentuk objek hasil koneksi
mycursor = mydb.cursor()
# membuat variabel string berisi perintah SQL untuk read data dari sebuah tabel
sql_string = "SELECT * FROM branch"
# mengeksekusi proses berdasarkan isi dari variabel string
mycursor.execute(sql_string)
# melakukan ekstraksi hasil proses
myresult = mycursor.fetchall()
for row in myresult:
  print(row)

('B001', 'Ir. Sutami 20 Jebres', 'Solo', 'Jawa Tengah', '97201', 'S0003')
('B002', 'Gondotaman 52', 'Yogyakarta', 'Yogyakarta', '98122', 'S0010')
('B003', 'Simpang Lima 5', 'Semarang', 'Jawa Tengah', '10012', 'S0415')
('B004', 'Homan 23', 'Bandung', 'Jawa Barat', '98128', 'S2250')
('B005', 'Sepuluh November 10', 'Surabaya', 'Jawa Timur', '10013', None)
('B056', 'street', 'City', 'Aceh', '00000', None)

#### Melihat atribut-atribut dalam sebuah tabel

In [5]:
# membuat variabel string berisi perintah SQL untuk melihat atribut-atribut dalam suatu tabel
sql_string = "DESCRIBE branch"
# mengeksekusi proses berdasarkan isi dari variabel string
mycursor.execute(sql_string)
# melakukan ekstraksi hasil proses
myresult = mycursor.fetchall()
for row in myresult:
  print(row)

print("-"*20)  
for row in myresult:
  print(row[0])

('branchNo', 'varchar(4)', 'NO', 'PRI', None, '')
('street', 'varchar(20)', 'NO', '', 'street', '')
('city', 'varchar(20)', 'NO', 'MUL', 'City', '')
('state', "enum('Aceh','DKI Jakarta','Jambi','Jawa Tengah','Jawa Barat','Jawa Timur','Nusa Tenggara Barat','Jayapura','Ambon','Kalimantan Selatan','Kalimantan Timur','Kalimantan Tengah','Sulawesi Selatan','Sulawesi Tenggara','Sumatera Selatan','Sumatera Barat','Sumatera Utara','Yogyakarta')", 'NO', '', None, '')
('zipcode', 'varchar(5)', 'NO', '', '00000', '')
('mgrStaffNo', 'varchar(5)', 'YES', 'MUL', None, '')
--------------------
branchNo
street
city
state
zipcode
mgrStaffNo

#### Menampilkan data atribut tertentu saja

In [6]:
# membuat variabel string SQL berisi perintah untuk menampilkan sebagian atribut tertentu saja
sql_string = "SELECT branchno, city FROM branch"
# mengeksekusi proses berdasarkan isi dari variabel string
mycursor.execute(sql_string)
# melakukan ekstraksi hasil proses
myresult = mycursor.fetchall()
for row in myresult:
  print(row)

('B004', 'Bandung')
('B056', 'City')
('B003', 'Semarang')
('B001', 'Solo')
('B005', 'Surabaya')
('B002', 'Yogyakarta')

In [7]:
# Menyimpan data menjadi list
data_list =[]
for row in myresult:
  data_list.append(row)
  
for baris in data_list:
    print(baris)

('B004', 'Bandung')
('B056', 'City')
('B003', 'Semarang')
('B001', 'Solo')
('B005', 'Surabaya')
('B002', 'Yogyakarta')

#### Melihat Tabel-tabel dalam sebuah Database

In [8]:
import mysql.connector

# Koneksi ke Database,
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="stayhome"
)
mycursor = mydb.cursor()

# membuat variabel string SQL berisi perintah untuk melihat daftar tabel dalam sebuah database
sql_string = "SHOW tables"
# mengeksekusi proses berdasarkan isi dari variabel string
mycursor.execute(sql_string)
# melakukan ekstraksi hasil proses
myresult = mycursor.fetchall()
for row in myresult:
  print(row)

('actor',)
('branch',)
('director',)
('member',)
('registration',)
('rental',)
('role',)
('staff',)
('supplier',)
('telephone',)
('teleponstaff',)
('video',)
('videoitem',)
('videoorder',)
('videoorderline',)

#### Melakukan import SQL file

In [15]:
# Membuka file
fo = open("files/StayHome.sql", "r")

# Membaca dengan fungsi read()
isifile = fo.read()
# print(isifile)
# Menutup file
fo.close()

In [13]:
import mysql.connector

# Koneksi ke server, tetpi tidak mendefinisikan nama database 
# karena asumsinya database belum dibentuk
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)
mycursor = mydb.cursor()

# membuat variabel string SQL berisi perintah-perintah pembuatan database, tables dan insert data
# berdasarkan hasil pembacaan dari sebuah file SQL 
sql_string = isifile
# mengeksekusi proses berdasarkan isi dari variabel string
mycursor.execute(sql_string)

# Silahkan coba mengakses membaca daftar table atau membaca data dari sebuah tabel